#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized. Always
        %button= link_to "Enter", new_user_registration_path
        
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organized
                %p Try-hard migas pickled deep v, beard food truck actually hot chicken. Synth wayfarers tilde umami skateboard selvage 8-bit. Bespoke vape mixtape, copper mug squid master cleanse kale chips iPhone flannel bicycle rights williamsburg neutra trust fund marfa offal.
                
#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path